.DS_Store
log/*
tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/backend/node_modules
/frontend/node_modules
/frontend/dist
/backend/dist
/coverage
/.bundle
/vendor/bundle
/public/assets

.env
.env.*
!.env.example
